
<h1>Order </h1>
<section  style="width: 1000px; margin: 52px 0px 100px 133px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Order Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Creation Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders; let i = index">
                <th scope="row">{{order.OrderId}}</th>
                <td><a href="" [routerLink]="['/details/order', order.OrderId, order.Ticket]"><u><b>{{order.Ticket}}</b></u></a></td>
                <td>{{order.CustomerName}}</td>
                <td>{{order.CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
</section>