<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
      <div id="navigation" style="margin: 52px 0px 0px 124px;">
          <ul style="display: inline; list-style-type: none; margin: 0px 0px 0px 439px;">
              <li style="display: inline; margin: 0px 25px 0px 25px;"><a [routerLink]="['/edit']"><u> Edit Profile </u></a> </li>
              <li style="display: inline; margin: 0px 25px 0px 25px; color: #007bff;"> | </li>
              <li style="display: inline; margin: 0px 25px 0px 25px; color: #007bff;"><a [routerLink]="['/new/product']"><u> Sell Products </u></a> </li>
              <li style="display: inline; margin: 0px 25px 0px 25px; color: #007bff;"> | </li>
              <li style="display: inline; margin: 0px 25px 0px 25px; color: #007bff;"><a [routerLink]="['/admin/order']"><u> Place Order</u></a></li>
          </ul>
      </div>
      <span></span>

      <div style="width: 1000px; margin: 52px 0px 100px 133px;">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col">Member Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Misc</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of users">
                      <th scope="row"></th>
                      <td>{{user.FirstName}} {{user.LastName}}</td>
                      <td>{{user.Email}}</td>
                      <td *ngIf="upackedId == user.UserId"><button class="btn btn-danger" type="submit" value="remove" (click)="Destroy(user.UserId)">Delete</button></td>
                      <td [hidden]="upackedId == user.UserId"><u>{{user.CreatedAt}}</u></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </body>
</html>