
.EditBanner {
  min-height: calc(100vh - 70px);
  background: url("../../assets/pageBackground/editbcg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;
  padding: 124px 0px 52px 0px;
}
