<p>admin-order works!</p>
<button (click)="logOut()" value="Signout">Signout</button>
<a [routerLink]="['/checkout']"><u>View Cart</u></a>


<form (submit)="placeOrder()">
    <label>Customer Name</label>
    <select type="number" name="UserId" [(ngModel)]="customerId">
        <option *ngFor="let user of users" [value]="user.UserId">{{ user.FirstName }} {{ user.LastName }}</option>
    </select>
    <button type="submit" class="btn btn-success">Place Order</button>
</form>

<div *ngFor="let product of products">
    <p>Product Name: {{ product.Name }}</p>
    <p>Availability: {{ product.Quantity }} left</p>
    <p>Vendor: {{product.Vendor.FirstName}} {{product.Vendor.LastName}}</p>
</div>
<form (submit)="addToCart()">
    <select type="number" name="productId" [(ngModel)]="productId">
        <option *ngFor="let product of products" [value]="product.ProductId">{{ product.Name }}</option>
    </select>
    <label>Quantity</label>
    <select type="number" name="Quantity" [(ngModel)]="quantity1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
    </select>
    
    <button type="submit" class="btn btn-success">Upload Product</button>
</form>

