<p>admin-order works!</p>
<button (click)="logOut()" value="Signout">Signout</button>
<a [routerLink]="['/checkout']"><u>View Cart</u></a>


<form (submit)="onFileSelected($event)">
    <label>Upload Image</label>
    <input type="file" (change)="onFileSelected($event)" name="Image" >
    <button type="submit" class="btn btn-success">Upload</button>
</form>
<input type="file" (change)="onUpload($event)">
<br />
<span style="font-weight: bold; color: green;" *ngIf="progress > 0 && progess < 100" > {{progress}}% </span>
<span style="font-weight: bold; color: green;" *ngIf="message">{{message}}</span>
<span *ngIf>{{imageurl}}</span>




<div *ngIf="imageurl">
    <img [src]="imageurl" [alt]="imageurl" />
</div>

<div *ngFor="let product of products">
    <p>Product Name: {{ product.Name }}</p>
    <p>Availability: {{ product.Quantity }} left</p>
    <p>Vendor: {{product.Vendor.FirstName}} {{product.Vendor.LastName}}</p>
</div>
<form (submit)="addToCart()">
    <select type="number" name="productId" [(ngModel)]="productId">
        <option *ngFor="let product of products" [value]="product.ProductId">{{ product.Name }}</option>
    </select>
    <label>Quantity</label>
    <select type="number" name="Quantity" [(ngModel)]="quantity1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
    </select>
    
    <button type="submit" class="btn btn-success">Upload Product</button>
</form>

