
.container {
  vertical-align: top;
  display: inline-block;
  width: 400px;
  height: 664px;
  border: solid black 3px;
  margin: 100px 0px 100px 425px;
}

.products {
  display: inline-block;
  margin: 0px 0px 0px 50px;
  width: 300px
}

.fields {
  display: block;
  margin: 0px 0px 25px 28px;
}

.header{
    margin: 43px 0px 0px 52px;
}

.fieldname{
    margin: 0px 28px 0px 0px;
}

.minicontainer{
    margin: 0px 0px 0px 52px;
}

.EditBanner {
  min-height: calc(100vh - 70px);
  background: url("../../assets/pageBackground/editbcg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;
  padding: 124px 0px 52px 0px;
}

.ProfileEditForm {
  background-color: #f1cc97;
  width: 400px;
  padding: 40px;
  text-align: center;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: 25px 0px 0px 456px;
}

.ProfileEditForm input[type="number"] {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.selectFormField {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.formfield {
  display: block;
  margin: 20px auto;
  padding: 10px 10px;
  width: 250px;
  background: none;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.8s;
  text-align: center;
}

  .formfield:focus {
    border-left: 40px solid black;
    outline: none;
  }


.submitBtn {
  background-color: #b18a5c;
  border: #b18a5c;
  color: #fff;
  padding: 7px 7px 7px 7px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

  .submitBtn:hover {
    background-color: #625959;
    border: #625959;
    color: #f6f4f0;
  }