.CheckOutBanner {
  min-height: calc(100vh - 70px);
  background: url("../../assets/pageBackground/storeBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  text-align: center;
  padding: 160px 0px 0px 0px;
}

.shoppingCartDeleteButton {
  background-color: transparent;
  border: none;
  color: #071013;
}

.shoppingCartDeleteButton:hover {
    color: red;
}

.myTable {
  color: #071013;
  margin: 0px 0px 0px 47px;
  width: 1200px;
}

.ReturnToShoppingBtn {
  border: solid 2px #071013;
  background-color: transparent;
  padding: 8px;
  border-radius: 3px;
}

  .ReturnToShoppingBtn:hover {
      background-color: rgba(0, 0, 0, 0.1);
  }

  .checkoutInfo {
    text-align: center;
    width: 421px;
    background-color: #6c757d;
    padding: 25px 25px 25px 25px;
    border-radius: 7px;
  }

.checkoutInfo span {
    display: block;
}

.quantityAdjusterBtn {
  background-color: transparent;
  border: solid 2px #071013;
  padding: 14px;
  border-radius: 5px;
}

  .quantityAdjusterBtn:hover {
    background-color: rgba(0, 0, 0, .1)
  }