<p>edit works!</p>
<button (click)="logOut()" value="Signout">Signout</button>
{{user || json}}
<form (submit)="sendToUpdate()">
    <span>First Name: </span><input type="text" name="firstName" [value]="first_Name" [(ngModel)]="UserToUpdate.firstName" />
    <span>Last Name: </span><input type="text" name="firstName" [value]="last_Name" [(ngModel)]="UserToUpdate.lastName" />
    <span>Email: </span><input type="text" name="email" [value]="_email" [(ngModel)]="UserToUpdate.email" />
    <span>Password: </span><input type="text" name="password" [(ngModel)]="UserToUpdate.password" />
    <button type="submit" class="btn btn-success">Update User</button>
</form>